<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.oxy.dao.ext.ExtSingleselectMapper">
  	<select id="listPage" parameterType="com.oxy.dto.itemBank.PageSelectDTO"
    	resultType="com.oxy.dto.itemBank.PageSelectDTO">
    	select 
        s.QuestionID as questionid,
    	s.Question as question,
    	s.ChoiceOne as choiceone,
    	s.ChoiceTwo as choicetwo,
    	s.ChoiceThree as choicethree,
    	s.ChoiceFour as choicefour,
    	s.Answer as answer,
    	s.Subject as subject,
    	s.Chapter as chapter,
    	s.Difficulty as difficulty,
    	u.Name as createuser
    	From singleselect s
        left  join user u on u.UserID=s.CreateUser
    	<where>
    		<if test="param != null">
    			<if test="param.question != null and param.question != '' ">
    				<bind name="question" value="'%' + param.question + '%'"/>
    				and s.Question like #{question} 
    			</if>
    			<if test="param.subject != null and param.subject != '' ">
    				<bind name="subject" value="'%' + param.subject + '%'"/>
    				and s.Subject like #{subject}
    			</if>
    			<if test="param.chapter != null and param.chapter != '' ">
    				<bind name="chapter" value="'%' + param.chapter + '%'"/>
    				and s.Chapter like #{chapter}
    			</if>
    		</if>
    	</where>
    	
    </select>
    
    <insert id="addSingleList" useGeneratedKeys="false">
        INSERT into singleselect
        (Question, 
           ChoiceOne,
           ChoiceTwo,
           ChoiceThree,
           ChoiceFour,
           Subject,
           Chapter,
           Difficulty,
           Answer,
           CreateUser
          ) VALUES 
        <foreach collection="lists" item="t" index="index" separator =",">
        (
        #{t.question},
        #{t.choiceone},
        #{t.choicetwo},
        #{t.choicethree},
        #{t.choicefour},
        #{t.subject},
        #{t.chapter},
        #{t.difficulty},
        #{t.answer},
        #{user}   
        )
     </foreach>
    </insert>
    
    
  </mapper>
